/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px !important;
    color: #333 !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0 !important;
}

p {
    margin: 0 !important;
}

.ngx-datatable.scroll-vertical.virtualized .datatable-body .datatable-row-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.ngx-datatable.material .datatable-footer {
    border-top: 0;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    display: flex;
    align-items: center;
    img{
        width: 120px;
    }
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
    button {
        background: #E21853;
        color: #fff;
    }
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    font-weight: 500;
}
.datatable-body-cell-label{
    display: flex;
}

